.main-header__button {
  span {
    display: none;
  }
}

.btn {
  @include button-reset;

  display: inline-block;
  min-width: 140px;
  padding: 0.80em 1em 0.8em 1em;

  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 5px;

  &:focus,
  &:hover,
  &:active {
    color: #ffffff;

    background-color: #000000;
    border-color: #000000;
  }
}

.btn--red {
  @include box-shadow-red;

  color: #ffffff;

  background-color: $color-crimson;
  border-color: $color-crimson;

  &:focus,
  &:hover,
  &:active {
    color: $color-crimson;

    background-color: #ffffff;
    border-color: $color-crimson;
  }
}

.btn--white {
  @include box-shadow-red;

  color: $color-crimson;

  background-color: #ffffff;
  border-color: $color-crimson;

  &:focus,
  &:hover,
  &:active {
    color: #ffffff;

    background-color: $color-crimson;
    border-color: $color-crimson;
  }
}

@include tablet-size {
  .button {
    font-size: 14px;
    padding: 0 30px;
  }

  .main-header__button {
    span {
      display: inline;
    }
  }

  .btn {
    min-width: 200px;
  }
}
