.cards__container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.cards__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.cards__item {
  width: calc(50% - 5px);
  margin-bottom: 10px;

  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

@include tablet-size {
  .cards__container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .cards__list {
    justify-content: flex-start;
  }

  .cards__item {
    width: 150px;
    margin: 0 10px 20px;
  }
}
