.index-page__calc-features {
  margin-bottom: 40px;
}

.index-page__container {
  text-align: center;
}

.index-page__title {
  font-size: 36px;
  line-height: 1;
  text-align: center;
}

.index-page__btn {
  align-self: center;
}
