.main-footer {
  margin-top: 40px;
}

.main-footer__container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 16px;
}

.main-footer__error {
  margin: 0;

  font-size: 18px;
  text-align: center;
}

@include tablet-size {
  .main-footer__container {
    max-width: 490px;
    padding: 40px 16px;
  }
}
