.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.main-content__recommend {
  padding-bottom: 40px;
}

@include tablet-size {
  .main-content--first-step {
    justify-content: center;
  }
}
