.result-calc-item__list {
  @include list-reset;

}

.result-calc-item {
  position: relative;

  padding: 20px 0;

  border-bottom: 1px solid $color-grey;

  &:last-child {
    border-bottom: none;
  }
}

.result-calc-item__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 20px;
  line-height: 1;
}

.result-calc-item__desc {
  margin: 0;
}

@include tablet-size {
  .result-calc-item {
    padding: 20px 60px 20px 120px;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      top: 50%;

      width: 80px;
      height: 75px;
      margin-top: -35px;

      background-size: cover;
    }
  }

  .result-calc-item--material::before {
    background-image: url("../images/packages.svg");
  }

  .result-calc-item--transport::before {
    background-image: url("../images/shipment.svg");
  }

  .result-calc-item--info::before {
    background-image: url("../images/cart.svg");
  }

  .result-calc-item__title {
    margin-bottom: 20px;
  }
}
