.tooltip {
  display: block;
  width: 24px;
  height: 24px;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;

  border: 2px solid $color-crimson;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;

    background-color: $color-crimson;
  }
}
