.tooltip {
  position: absolute;
  top: 5px;
  right: 5px;

  display: block;
  width: 16px;
  height: 16px;

  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-decoration: none;

  border: 2px solid $color-crimson;
  border-radius: 5px;
  cursor: pointer;

  z-index: 3;

  &:hover,
  &:focus,
  &:active .tooltip__link {
    color: #ffffff;

    background-color: $color-crimson;
  }
}

.tooltip--white {
  color: #ffffff;

  border: 2px solid #ffffff;

  &:hover,
  &:focus,
  &:active .tooltip__link {
    color: #000000;

    background-color: #ffffff;
  }
}
